# Python
.venv/
__pycache__/
*.pyc
*.log

# App Data
data/tmp/
outputs/
backend.log
config.yaml

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
pubspec.lock

# OS
.DS_Store
